@import "@/assets/variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #d1d9ff, #e2e7ff);
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #b8c4ff, #d0d7ff);
}

.content {
  @extend .container-sm, .my-5;
  overflow: visible;
}

.auth-forms {
  @extend .mx-auto;
  min-width: 300px;
  max-width: 450px;
}

.center-header {
  @extend .text-center, .mb-5;
}

.divider {
  background-color: #ccc;
  @extend .m-auto;
  &.horizontal {
    @extend .my-3;
    height: 1px;
  }

  &.vertical {
    @extend .vr, .my-3, .h-100;
    width: 1px;
  }
}

.menu-connect {
  @extend  .navbar, .bg-body-tertiary, .shadow-sm, .p-2, .sticky-top;
}